@page
@using Petshop.Models
@model Petshop.Pages.Animals.AllAnimalsModel
@{
    ViewData["Title"] = "All Animals";

}
<h1>All Aniamls</h1>

<p>
    <a asp-page="Cats">All Cats</a>
</p>
<p>
    <a asp-page="Dogs">All Dogs</a>
</p>
<p>
    <a asp-page="Guineapig">All Guineapig</a>
</p>
<p>
    <a asp-page="Rabbits">All Rabbits</a>
</p>
<p>
    <a asp-page="Zebras">All Zebras</a>
</p>